apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aux-service
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/YOUR_ORG/YOUR_REPO.git
    targetRevision: main
    path: infra/k8s/apps/aux-service

  destination:
    server: https://kubernetes.default.svc
    namespace: aux-service

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
